# Fantasy Premier League 2018-2019

Este projeto tem o objetivo de sugerir a melhor formação de time para o Fantasy Premier League 2018-2019 a partir da exploração de dados sobre jogadores inscritos.

Foram utilizados os seguintes datasets:

https://www.kaggle.com/thomasd9/fantasy-premier-league-201718
    - fixtures.csv
    - historical-performance.csv
    - player-info.csv

https://www.kaggle.com/delayedkarma/fantasy-premier-league-20182019
    - FPL_2018_19_Wk0.csv
    
https://www.kaggle.com/patrickmurphy/nfl-arrests
    - ArrestIncidents.csv

O dataset **fixtures** descreve dados das partidas realizadas.

In [7]:
import pandas as pd
import numpy as np

In [10]:
fixtures = pd.read_csv('fantasy-premier-league-201718/fixtures.csv')
fixtures.head()

,game_week,event_name,home_team_id,home_team_name,home_team_short_name,away_team_id,away_team_name,away_team_short_name
0,1,Gameweek 1,1,Arsenal,ARS,9,Leicester,LEI
1,1,Gameweek 1,3,Brighton,BHA,11,Man City,MCI
2,1,Gameweek 1,5,Chelsea,CHE,4,Burnley,BUR
3,1,Gameweek 1,6,Crystal Palace,CRY,8,Huddersfield,HUD
4,1,Gameweek 1,7,Everton,EVE,15,Stoke,STK

O dataset **historical_performance** descreve dados sobre a performance dos jogadores inscritos na liga.

In [6]:
historical_performance = pd.read_csv('fantasy-premier-league-201718/historical-performance.csv')
historical_performance.head()

,player_id,assists,bonus,bps,clean_sheets,creativity,ea_index,element_code,end_cost,goals_conceded,...,penalties_missed,penalties_saved,red_cards,saves,season,season_name,start_cost,threat,total_points,yellow_cards
0,1,0,0,301,8,0.0,241,48844,50,11,...,0,0,0,47,9,2014/15,50,0.0,76,0
1,1,0,2,98,2,0.0,56,48844,47,5,...,0,0,0,17,10,2015/16,50,0.0,20,0
2,1,0,0,18,0,0.0,0,48844,47,4,...,0,0,0,4,11,2016/17,50,0.0,2,0
3,2,0,1,0,0,0.0,0,11334,64,9,...,0,0,0,58,1,2006/07,65,0.0,98,1
4,2,0,2,0,0,0.0,0,11334,65,17,...,0,0,0,60,2,2007/08,65,0.0,120,0

In [12]:
historical_performance.describe()

,player_id,assists,bonus,bps,clean_sheets,creativity,ea_index,element_code,end_cost,goals_conceded,...,own_goals,penalties_missed,penalties_saved,red_cards,saves,season,start_cost,threat,total_points,yellow_cards
count,1815.000000,1815.000000,1815.000000,1815.000000,1815.000000,1815.000000,1815.000000,1815.000000,1815.000000,1815.000000,...,1815.000000,1815.000000,1815.000000,1815.000000,1815.000000,1815.000000,1815.000000,1815.000000,1815.000000,1815.000000
mean,246.579614,2.212121,6.028099,190.614876,5.044628,55.704077,160.999449,53266.321763,53.989532,23.466116,...,0.066116,0.053994,0.039669,0.114050,6.103581,8.046832,55.924518,60.893664,70.739945,2.647383
std,141.720609,3.042635,7.105426,228.241168,4.623259,174.897044,198.173586,40405.137128,14.872164,16.558401,...,0.281814,0.251466,0.251943,0.344585,23.033896,2.738413,14.564510,197.991013,50.710385,2.645577
min,1.000000,0.000000,0.000000,-3.000000,0.000000,0.000000,-3.000000,1632.000000,34.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,35.000000,0.000000,-2.000000,0.000000
25%,123.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19568.000000,44.000000,9.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,45.000000,0.000000,27.000000,0.000000
50%,258.000000,1.000000,4.000000,93.000000,4.000000,0.000000,40.000000,43020.000000,49.000000,23.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,50.000000,0.000000,69.000000,2.000000
75%,365.000000,3.000000,9.000000,355.000000,8.000000,0.000000,312.000000,66749.000000,59.000000,36.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,60.000000,0.000000,105.000000,4.000000
max,499.000000,21.000000,54.000000,981.000000,19.000000,1702.000000,1053.000000,231172.000000,133.000000,82.000000,...,2.000000,2.000000,3.000000,3.000000,178.000000,11.000000,130.000000,1896.000000,264.000000,14.000000

In [14]:
player_info = pd.read_csv('fantasy-premier-league-201718/player-info.csv')
player_info.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,0,0,0,NaN,NaN,0,48844,0,0,0,...,0.0,0,34,34,253,253,0.0,0.0,Ospina,0
1,0,0,9,NaN,NaN,0,11334,0,0,0,...,0.0,1,519,519,1831,1831,0.2,0.2,Cech,0
2,0,0,0,0.0,0.0,0,98980,0,0,0,...,0.0,0,22,22,886,886,0.0,0.0,Martinez,0
3,0,0,0,0.0,0.0,0,51507,0,0,0,...,0.0,0,103,103,764,764,0.0,0.0,Koscielny,0
4,0,0,0,75.0,75.0,0,17127,0,0,0,...,0.0,0,90,90,658,658,0.0,0.0,Mertesacker,0

In [16]:
player_info.describe()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,team_code,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,yellow_cards
count,501.000000,501.000000,501.000000,166.000000,164.000000,501.000000,501.000000,501.0,501.0,501.0,...,501.00000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000
mean,0.041916,0.011976,5.580838,47.740964,47.560976,0.103792,76866.033932,0.0,0.0,0.0,...,34.53493,0.694611,1.095808,605.520958,605.520958,605.520958,605.520958,0.200998,0.200998,0.045908
std,0.210332,0.166902,9.764218,47.419972,47.338644,0.305296,52504.004627,0.0,0.0,0.0,...,31.93201,5.343084,2.116318,1569.324153,1569.324153,1221.785705,1221.785705,0.385926,0.385926,0.209495
min,0.000000,0.000000,-7.000000,0.000000,0.000000,0.000000,1632.000000,0.0,0.0,0.0,...,1.00000,0.000000,-3.000000,0.000000,0.000000,10.000000,10.000000,-0.500000,-0.500000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40399.000000,0.0,0.0,0.0,...,8.00000,0.000000,0.000000,37.000000,37.000000,77.000000,77.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,50.000000,37.500000,0.000000,59966.000000,0.0,0.0,0.0,...,21.00000,0.000000,0.000000,132.000000,132.000000,220.000000,220.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,9.000000,100.000000,100.000000,0.000000,103955.000000,0.0,0.0,0.0,...,43.00000,0.000000,1.000000,568.000000,568.000000,711.000000,711.000000,0.200000,0.200000,0.000000
max,2.000000,3.000000,55.000000,100.000000,100.000000,1.000000,231172.000000,0.0,0.0,0.0,...,110.00000,68.000000,13.000000,20769.000000,20769.000000,18486.000000,18486.000000,2.700000,2.700000,1.000000

In [17]:
fpl = pd.read_csv('fantasy-premier-league-20182019/FPL_2018_19_Wk0.csv')
fpl.head()

,Name,Team,Position,Cost,Creativity,Influence,Threat,ICT,Goals_conceded,Goals_scored,...,Own_goals,Penalties_missed,Penalties_saved,Saves,Yellow_cards,Red_cards,TSB,Minutes,Bonus,Points
0,Adam Smith,BOU,DEF,45,345.5,455.0,144.0,94.5,38,1,...,0,0,0,0,6,0,0.3,2067,3,56
1,Adrian,WHU,GKP,45,0.0,470.4,0.0,47.0,29,0,...,0,0,0,69,2,0,0.6,1710,5,72
2,Aguero,MCI,FWD,110,570.8,966.4,1484.0,302.5,12,21,...,0,0,0,0,2,0,12.6,1960,22,169
3,Ake,BOU,DEF,50,115.1,932.4,287.0,133.5,59,2,...,0,0,0,0,5,0,5.7,3352,8,102
4,Albrighton,LEI,MID,55,718.3,580.0,300.0,160.2,42,2,...,0,0,0,0,5,1,1.1,2533,12,107

In [18]:
fpl.describe()

,Cost,Creativity,Influence,Threat,ICT,Goals_conceded,Goals_scored,Assists,Own_goals,Penalties_missed,Penalties_saved,Saves,Yellow_cards,Red_cards,TSB,Minutes,Bonus,Points
count,472.000000,472.000000,472.000000,472.000000,472.000000,472.000000,472.000000,472.000000,472.000000,472.000000,472.000000,472.000000,472.000000,472.000000,472.000000,472.000000,472.000000,472.000000
mean,53.569915,202.320975,310.791102,216.375000,72.929449,18.925847,1.828390,1.675847,0.050847,0.038136,0.042373,4.029661,1.997881,0.076271,3.177542,1315.463983,4.457627,56.671610
std,13.098491,269.581890,289.370722,318.276771,76.759456,16.653736,3.680181,2.766729,0.271739,0.222481,0.265307,18.659628,2.341810,0.281240,5.749905,1090.477915,5.961510,51.995429
min,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,45.000000,0.000000,18.350000,0.000000,5.075000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.300000,133.500000,0.000000,5.000000
50%,50.000000,96.450000,273.200000,91.000000,59.350000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.800000,1307.000000,2.000000,52.500000
75%,55.000000,302.125000,500.450000,290.750000,111.700000,30.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,3.425000,2163.000000,7.000000,88.250000
max,130.000000,1744.200000,1496.200000,2355.000000,454.400000,63.000000,32.000000,18.000000,4.000000,2.000000,3.000000,137.000000,11.000000,2.000000,47.500000,3420.000000,31.000000,303.000000

In [19]:
incidents = pd.read_csv('nfl-arrests/ArrestIncidents.csv')
incidents.head()

,DATE,TEAM,NAME,POSITION,CASE,CATEGORY,DESCRIPTION,OUTCOME
0,3/27/2017,SEA,Trevone Boykin,QB,Arrested,Drugs,"Accused of marijuana possession, public intoxi...",Resolution undetermined.
1,3/26/2017,CHI,Deiondre Hall,CB,Arrested,Disorderly conduct,"Accused of disorderly conduct, public intoxica...",Resolution undetermined.
2,3/26/2017,GB,Makinton Dorleant,CB,Arrested,Police interference,Accused of interfence after scuffle outside of...,Resolution undetermined.
3,3/7/2017,KC,Demetrius Harris,TE,Arrested,Drugs,Suspected of felony marijuana possession as pa...,Resolution undetermined.
4,3/5/2017,LAR,Ethan Westbrooks,DT,Arrested,Domestic violence,Suspected of domestic violence in Sacramento a...,Resolution undetermined.

In [21]:
incidents.describe()

,DATE,TEAM,NAME,POSITION,CASE,CATEGORY,DESCRIPTION,OUTCOME
count,850,850,850,850,850,850,850,850
unique,783,35,640,18,10,107,842,553
top,12/15/2005,MIN,Adam Jones,WR,Arrested,DUI,One of four Vikings accused of taking part in ...,Resolution undetermined.
freq,5,49,10,136,731,215,4,166